{% extends "layout.html" %}{% load i18n %}
{% block content %}
<form>
<select name="filter_user" onchange="this.form.submit();">
<option value="">--user--</option>
{% for user in users %}<option value="{{ user.key }}"{% ifequal filter_user.key user.key %} selected="selected"{% endifequal %}>{{user}}</option>{% endfor %}
</select>
<select name="filter_game" onchange="this.form.submit();">
<option value="">--game--</option>
{% for game in singlegames %}<option value="{{ game.key }}"{% ifequal filter_game.key game.key %} selected="selected"{% endifequal %}>{{game.groupname}} {{game.homeTeam.short}} vs {{game.awayTeam.short}}</option>{% endfor %}
</select>
{% if filter_game and filter_user %}
<p>{{filter_user}}&nbsp;{{filter_game.homeTeam.short}}&ndash;{{filter_game.awayTeam.short}}&nbsp;<input name="homeScore" size="2" maxlength="2" /> &ndash; <input name="awayScore" size="2" maxlength="2" />
<input type="submit" name="save"/>
{{ save }}
</p>
{% endif %}
</form>
<h1>{% trans "Bets" %}</h1>
<ul>
{% for bet in bets %}
<li>{{ bet.user.email }} {{ bet.singlegame.homeTeam.short }}&nbsp;&ndash;&nbsp;{{ bet.singlegame.awayTeam.short }} {{ bet.homeScore }}&nbsp;&ndash;&nbsp;{{ bet.awayScore }}&nbsp;{{ bet.locked }}</li>
{% endfor %}
</ul>
<h1>{% trans "Group Bets" %}</h1>
<ul>
{% for bet in groupbets %}
<li>{{ bet.user.email }} {{ bet.groupgame.name }} {% for team in bet.draw_order %}[{{ forloop.counter0 }}. {{ team }}]{% endfor %} locked: {{ bet.locked }}</li>
{% endfor %}
</ul>
{% endblock %}
