{% extends "layout.html" %}{% load i18n %}
{% block content %}
{% for groupgame in games %}
<h{{ groupgame.level }}>
{% if forloop.first %}{% if groupgame.upgroup %}<a href="/games/{{ groupgame.upgroup.key }}">{{ groupgame.upgroup.name }}</a> &gt;{% endif %}{% endif %}<a href="/games/{{ groupgame.key }}">{{ groupgame.name }}</a></h{{ groupgame.level }}>
{% for singlegame in groupgame.games %}
{% if forloop.first %}<table>
<thead>
<tr>
<th class="home teamColumn">{% trans "home team" %}</th>
<th class="pairColumn">&nbsp;&ndash;&nbsp;</th>
<th class="away teamColumn">{% trans "away team" %}</th>
<th class="timeColumn">{% trans "kick off" %}</th>
<th class="venueColumn">{% trans "Stadium" %}</th></tr>
</thead>
<tbody>
{% endif %}
<tr class="{% cycle line0,line1 %}"><td class="home">{{ singlegame.homeTeam.name }}</td><td><img src="http://www.fifa.com{{ singlegame.homeTeam.flag }}" />&nbsp;&ndash;&nbsp;<img src="http://www.fifa.com{{ singlegame.awayTeam.flag }}" /></td><td class="away">{{ singlegame.awayTeam.name }}</td><td>{{ singlegame.time }}</td><td>{{  singlegame.location }}</td></tr>
{% if forloop.last %}</tbody></table>{% endif %}
{% endfor %}
{% endfor %}
{% endblock %}
