<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
{% load i18n %}
<head>
<title>xEuroPool</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/style/ebtipp.css" type="text/css" />
</head>
<body><div id="fb-root"></div><script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=315323681885269";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script><div align="center"><div id="main"><div id="head">
<span style="float:left;"><fb:like layout="button_count" show_faces="false" width="50" action="like" colorscheme="dark"></fb:like></span>{% trans "This is our little friendly pool." %}
<span id="language_selector"><form method='post'><input type='hidden' name='action' value='language' /><select name='language' onchange='this.form.submit();'><option>{% trans "language" %}</option><option value='hu'>magyar</option><option value='en'>English</option></select></form></span>
</div>
<div id="userline">{% include "userline.html" %}</div>
<div id="menuline">{% include "menuline.html" %}</div>
<div id="maincontent">
<!-- div style="background-color: green; color: white; font-size: 175%;">{% trans "Knockout stage bets are available!" %}</div -->
<span id="message">{{ message }}</span>
{% if filtergames %}<div id="submenuline"><ul>{% for game in filtergames %}<li><a href="{{ filter_uri }}/{{ game.key }}">{{ game.name }}</a></li>
{% ifequal forloop.counter 8 %}<br /><br />{% endifequal %} {% endfor %}</ul></div>{% endif %}
{% block content %}<h1>{% trans "xHomePool, eh!" %}</h1>{% endblock %}
</div>
{% include "footer.html" %}</div></div>
</body>
</html>
