<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
{% load i18n %}
<head>
<title>xHomePool</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/style/ebtipp.css" type="text/css" />
</head>
<body><div align="center"><div id="main"><div id="head">{% trans "This is our little friendly pool." %}
<span id="language_selector"><form method='post'><input type='hidden' name='action' value='language' /><select name='language' onchange='this.form.submit();'><option>{% trans "language" %}</option><option value='hu'>magyar</option><option value='en'>English</option></select></form></span>
</div>
<div id="userline">{% include "userline.html" %}</div>
<div id="menuline">{% include "menuline.html" %}</div>
<div id="maincontent">
<div style="background-color: green; color: white; font-size: 200%;">{% trans "Ladies and gentlemen, it's ON! Enter your predictions!" %}</div>
<span id="message">{{ message }}</span>
{% if filtergames %}<div id="submenuline"><ul>{% for game in filtergames %}<li><a href="{{ filter_uri }}/{{ game.key }}">{{ game.name }}</a></li>{% endfor %}</ul></div>{% endif %}
{% block content %}<h1>{% trans "xHomePool, eh!" %}</h1>{% endblock %}
<div id="fb-root"></div>
</div>
<div style="background-color: blue; color: white; font-size: 110%;"><a style="color: white;" href="http://www.insead.edu/facultyresearch/faculty/personal/nbearden/qualtrics.cfm">INSEAD - Online World Cup Prediction Study</a></div>
{% include "footer.html" %}</div></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({appId: '101120486599460', status: true, cookie: true,
             xfbml: true});
    FB.Event.subscribe('{% if fb_user %}auth.logout{% else %}auth.login{% endif %}', function(response) {
      window.location.reload();
    });
  };
  (function() {
    var e = document.createElement('script');
    e.type = 'text/javascript';
    e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
    e.async = true;
    document.getElementById('fb-root').appendChild(e);
  }());
</script>
</body>
</html>
