{% load i18n %}
<ul><li><a href="/today">{% trans 'Fresh' %}</a></li>
<li><a href="/games">{% trans 'Schedule' %}</a></li>
<li><a href="/mytips">{% trans 'Bets' %}</a></li>
<li><a href="/alltips">{% trans 'All bets' %}</a></li>
<li><a href="/scoreboard">{% trans 'Scoreboard' %}</a></li>
<li><a href="/profile">{% trans 'Profile' %}</a></li>
<li><a href="/invite">{% trans 'Invite' %}</a></li>
<li><a href="/rules">{% trans 'Rules' %}</a></li>
{% if is_admin %}<li><a href="/admin">{% trans 'Admin' %}</a></li>{% endif %}
</ul>
