{% extends "layout.html" %}{% load i18n %}
{% block content %}
<form method="post"><input name="action" value="mytips/save" type="hidden"/>
{% for groupgame in games %}
<h{{ groupgame.game.level }}>
{% if forloop.first %}{% if groupgame.game.upgroup %}<a href="/mytips/{{ groupgame.game.upgroup.key }}">{{ groupgame.game.upgroup.name }}</a> &gt;{% endif %}{% endif %}<a href="/mytips/{{ groupgame.game.key }}">{{ groupgame.game.name }}</a></h{{ groupgame.game.level }}>
{% for singlegame in groupgame.singlegames %}
{% if forloop.first %}<table>
<thead>
<tr>
<th class="home teamColumn">{% trans "home team" %}</th>
<th class="pairColumn">&nbsp;&ndash;&nbsp;</th>
<th class="away teamColumn">{% trans "away team" %}</th>
<th class="timeColumn">{% trans "kick off" %}</th>
<th class="resultColumn">{% trans "result" %}</th>
<th class="betColumn">{% trans "bet (pt)" %}</th></tr>
</thead>
<tfoot>
<tr><td colspan="6" class="saveColumn"><input type="submit" value="{% trans 'save' %}"></td></tr>
</tfoot>
<tbody>
{% endif %}
<tr class="{% cycle line0,line1 %}"><td class="home">{{ singlegame.game.homeTeam.name }}</td><td><img src="http://www.fifa.com{{ singlegame.game.homeTeam.flag }}" />&nbsp;&ndash;&nbsp;<img src="http://www.fifa.com{{ singlegame.game.awayTeam.flag }}" /></td><td class="away">{{ singlegame.game.awayTeam.name }}</td><td>{{ singlegame.game.time }}</td>
<td class="resultColumn">{% if singlegame.result.locked %}{{ singlegame.result.homeScore }}&nbsp;&ndash;&nbsp;{{ singlegame.result.awayScore }}{% endif %}
</td>
<td class="betColumn">{% if singlegame.result.locked or singlegame.bet.locked or not singlegame.bet.editable %}
{{ singlegame.bet.homeScore }}&nbsp;&ndash;&nbsp;{{ singlegame.bet.awayScore }}
{% else %}
<select name="homeScore.{{singlegame.game.key}}">{% for gol in scorelist %}<option value="{{gol}}" {% ifequal gol singlegame.bet.homeScore %} selected="selected" {% endifequal %} >{{gol}}</option>{% endfor %}</select>
&nbsp;&ndash;&nbsp;
<select name="awayScore.{{singlegame.game.key}}">{% for gol in scorelist %}<option value="{{gol}}" {% ifequal gol singlegame.bet.awayScore %} selected="selected" {% endifequal %} >{{gol}}</option>{% endfor %}</select>
<input type="checkbox" name="lock.{{singlegame.game.key}}" />
{% endif %}&nbsp;({{ singlegame.point }})&nbsp;
</td>
</tr>
{% if forloop.last %}</tbody></table>
<table>
<tbody>
<thead><tr><th>{% trans "Team" %}</th><th>{% trans "W-D-L" %}</th><th>{% trans "GF-GA" %}</th><th>{% trans "P" %}</th><th>&nbsp;</th></tr></thead>
{% for ranking in groupgame.bet_ranking %}
<tr><td><img src="http://www.fifa.com{{ ranking.team.flag }}" /></td><td>{{ranking.w}}-{{ranking.d}}-{{ranking.l}}</td><td>{{ranking.gf}}-{{ranking.ga}}</td><td>{{ranking.pt}}</td><td>&nbsp;</td></tr>
{% endfor %}
</tbody>
</table>
{% endif %}
{% endfor %}
{% endfor %}
</form>
{% endblock %}
