{% extends "layout.html" %}{% load i18n %}
{% block content %}
<form method="post"><input name="action" value="mytips/save" type="hidden"/>
<h{{ groupgame.game.level }}>{{ groupgame.game.name }}</h{{ groupgame.game.level }}>
{% trans "Betting closes:" %} {{ groupgame.game.groupstart }}
{% for singlegame in groupgame.singlegames %}
{% if forloop.first %}
<table>
<thead>
<tr>
<th class="home teamColumn">{% trans "home team" %}</th>
<th class="pairColumn">&nbsp;&ndash;&nbsp;</th>
<th class="away teamColumn">{% trans "away team" %}</th>
<th class="timeColumn">{% trans "kick off" %}</th>
<th class="resultColumn">{% trans "result" %}</th>
<th class="betColumn">{% trans "bet (pt)" %}</th></tr>
</thead>
{% if groupgame.editable %}
<tfoot>
<tr><td colspan="6" class="saveColumn"><input type="submit" value="{% trans 'save' %}"></td></tr>
</tfoot>
{% endif %}
<tbody>
{% endif %}
<tr class="{% cycle line0,line1 %}"><td class="home">{{ singlegame.game.homeTeam.name }}</td><td class="pairColumn"><img src="http://www.fifa.com{{ singlegame.game.homeTeam.flag }}" />&nbsp;&ndash;&nbsp;<img src="http://www.fifa.com{{ singlegame.game.awayTeam.flag }}" /></td><td class="away">{{ singlegame.game.awayTeam.name }}</td><td>{{ singlegame.game.time }}</td>
<td class="resultColumn">{% if singlegame.result.locked %}{{ singlegame.result.homeScore }}&nbsp;&ndash;&nbsp;{{ singlegame.result.awayScore }}{% endif %}
</td>
<td class="betColumn">{% if not singlegame.editable %}
{{ singlegame.bet.homeScore }}&nbsp;&ndash;&nbsp;{{ singlegame.bet.awayScore }}
{% else %}
<select name="homeScore.{{singlegame.game.key}}">{% for gol in scorelist %}<option value="{{gol}}" {% ifequal gol singlegame.bet.homeScore %} selected="selected" {% endifequal %} >{{gol}}</option>{% endfor %}</select>
&nbsp;&ndash;&nbsp;
<select name="awayScore.{{singlegame.game.key}}">{% for gol in scorelist %}<option value="{{gol}}" {% ifequal gol singlegame.bet.awayScore %} selected="selected" {% endifequal %} >{{gol}}</option>{% endfor %}</select>
<input type="checkbox" name="lock.{{singlegame.game.key}}" />
{% endif %}&nbsp;({{ singlegame.point }})&nbsp;
</td>
</tr>
{% if forloop.last %}
</tbody>
<tfoot><tr><td colspan="4">&nbsp;</td>
<td valign="top" class="result_ranking"> 

    <table>
    <tbody>
    <thead><tr><th>{% trans "Team" %}</th></tr></thead>
    {% for ranking in groupgame.result_ranking %}
    <tr><td><img src="http://www.fifa.com{{ ranking.team.flag }}" /></td><td>{{ranking.w}}&ndash;{{ranking.d}}&ndash;{{ranking.l}}</td><td>{{ranking.gf}}&ndash;{{ranking.ga}}</td><td>{{ranking.pt}}</td></tr>
    {% endfor %}
    </tbody>
    </table>
 </td>
<td valign="top" class="bet_ranking">

    <table>
    <tbody>
    <thead><tr><th>{% trans "Team" %}</th><th>{% trans "W-D-L" %}</th><th>{% trans "GF-GA" %}</th><th>{% trans "P" %}</th><th>{% trans "tie" %}</th></tr></thead>
    {% for ranking in groupgame.bet_ranking %}
    <tr><td><img src="http://www.fifa.com{{ ranking.team.flag }}" /></td><td>{{ranking.w}}&ndash;{{ranking.d}}&ndash;{{ranking.l}}</td><td>{{ranking.gf}}&ndash;{{ranking.ga}}</td><td>{{ranking.pt}}</td><td>{% if ranking.tie %}{{ranking.tie.pt}} ({{ranking.tie.gf}}&ndash;{{ranking.tie.ga}}){% endif %}
    {% if ranking.draw %}{% if groupgame.editable %}<select name="draw.{{groupgame.game.key}}.{{forloop.counter0}}">{% for team in ranking.draw %}<option value="{{team.name}}" {% ifequal team.name ranking.team.name %} selected="selected"{% endifequal %}>{{team.name}}</option>{% endfor %}</select>{% else %} draw{% endif %}{% endif %}
    </td></tr>
    {% endfor %}
    </tbody>
    </table>
    {% if groupgame.editable %}    <input type="checkbox" name="grouplock.{{groupgame.game.key}}" />{% endif %}&nbsp;({{ groupgame.point }})&nbsp;

</td></tr></tfoot>
</table>
{% endif %}
{% endfor %}
</form>
{% blocktrans %}
<ol>
<li><strong>LOCK your predictions before the deadline!</strong></li>
<li>Use the checkboxes to lock your predictions.</li>
<li>The list of teams in the Bet column shows the group standings based on your predictions.</li>
<li>The list of teams in the Result column shows the group standings based on the results.</li>
<li>For completeness (and to confuse everybody) : in case your predictions result in a tiebreak which would be resolved by a draw, you need to predict the result of the draw. - for details of the tiebreaking procedure refer to the PDF linked from the rules page</li>
{% endblocktrans %}
{% endblock %}
