{% extends "layout.html" %}{% load i18n %}
{% block content %}{% blocktrans %}
<h1>xHomePool score predictor</h1>
<h2>1. What the hell?</h2>
This page is doing the administration for a predict-the-score game of some friends (and friends' friends, of course). Players try to guess the scores of the matches of the 2010 FIFA World Cup South Africa, and collect points based on how good they are at it.
<br>
<h2>2. How?</h2>
The exact score of every match is to be predicted, by choosing the appropriate numbers from the drop-down lists. The bet is evaluated based on the score of the game AFTER THE END OF THE SECOND HALF (90 mins). In certain scenarios when a not matching score is required to decide which team qualifies, then, if the player bets on a tie (this applies to 3 or 4-way ties at the group stage, too), the team to qualify (after extra time, penalty shootout, drawing of lots, etc.) has to be predicted separately. See also the <a href="http://www.fifa.com/mm/document/tournament/competition/56/42/69/fifawcsouthafrica2010inhalt_e.pdf">official regulations of the 2010 FIFA World Cup South Africa (PDF)</a>.

<h2>3. Who wins?</h2>
Well, hopefully all participants. A bit more precisely, the winner is the player who gathers the most points. By every bet, points can be won the following way (home team is the team listed first in a match listing):
<ul>
<li>Predicting Win-Draw-Loss correctly: 2 points.</li>
<li>Guessing the score of the home team correctly: 1 point. (In case the home team scores at least 4 goals in a game, then 1 point is awarded to players predicting at least 4 home goals.)</li>
<li>Guessing the score of the visitor team correctly: 1 point. (In case the visitor team scores at least 4 goals in a game, then 1 point is awarded to players predicting at least 4 visitor goals.)</li>
<li>Bonus:<br>
After every round (group stage, 1/8 finals, 1/4 finals, 1/2 finals, final) there is on average 1 more point per game to be won based on the following principles:
<br>
For every pair of teams which directly competed against each other (were in the same group, or played a knock-out game, respectively) 1 point is awarded to the player if in the rankings based on his/her predictions (in the knock-out stage, there are two possible rank orderings, in the group stage it is 4!=24), the two teams finish in the order as they do based on the results of the 2010 FIFA World Cup South Africa. To see how orders are determined, please consult the official regulations (PDF).
</li></ul>

To make the contest more exciting, the different stages of the World Cup have different multiplier factors. The points won based on the above rules are multiplied by the factor of the stage at which the predicted game is played. The stages and their multipliers are listed below.

<ul>
</li><li>Group-stage games: 1
</li><li>1/8 finals: 2
</li><li>1/4 finals: 3
</li><li>1/2 finals: 4
</li><li>Final: 5</li>
</ul>

<h2>4. Disclaimer</h2>
Please don't cheat! We would only like to play a good game, and we prefer to do this against people with similar preferences.
<br>
To avoid strategic betting made in order to preserve one's advantage at later stages of the game, a player cannot watch other players' bets until they finalize it (by checking the box next to the bet). Except, of course, for the case when more people collude in order to get around this but then they should not have signed up in the first place. Finalizing bets can be done by checking the box adjacent to the drop-downs where one selects the score guessed.
<br>
<h2>5. Participation</h2>

<h3>Invite your friends!</h3>
Registered users can send out an invitation via email to their friends, in this case an email address can be quite useful.

<h3>Google account</h3>
You can simply join the game by logging in with your gmail.com account. (<pre>Google login</pre> link in the header)

<h3>Facebook</h3>
(in progress) You can simply join the game by connecting xHomePool with facebook. (<pre>Facebook connect</pre> link in the header)
In this case please set your personal information on the <a href="/profile"> profile </a> page as I refuse to fetch information from the big brother other than your user_id. xHomePool might post results on your wall.

<h2>6. Deadlines</h2>
The predictions for each group are to be posted before the first game of the group starts. The deadlines are noted on the screen.
Actual deadlines are always posted on the "My Bets" page for each group.
Note that in the KO stage each individual game forms it's own group, therefore betting deadlines are per game.

<h2>7. Help, FAQ, whatever</h2>
E-mail Peter Czimmermann at xczimi@gmail.com or any other form of communication you have access to to reach me.
{% endblocktrans %}{% endblock %}
