{% extends "layout.html" %}{% load i18n %}
{% block content %}
<h1>{% trans "Scoreboard" %} - {{ groupgame.name }}</h1>
<div style="float:left;">
<table>
<thead><tr><th>{% trans "Name" %}</th><th>{% trans "Score" %} x{{ multiplier }}</th></tr></thead>
<tbody>
{% for scoreline in scoreboard %}
<tr><td>{{scoreline.user.nick}}</td><td>{{scoreline.score}}</td></tr>
{% endfor %}
</tbody></table>
</div>
{% for subboard in subboards %}
<div style="float:left;margin-left:1em;margin-bottom:1em;">
<table>
<thead><tr><th>{% trans "Name" %}</th><th><a href="/scoreboard/{{ subboard.game.key }}">{{ subboard.game.name }}</a> x{{subboard.multiplier}}</th></tr></thead>
<tbody>
{% for scoreline in subboard.scorelines %}
<tr><td>{{scoreline.user.nick}}</td><td>{{scoreline.score}}</td></tr>
{% endfor %}
</tbody></table>
</div>
{% endfor %}
<div style="clear:both;">&nbsp;</div>
{% endblock %}
