{% load i18n %}
{% if fb_user %}
<span id="fb_info">
  <p><a href="{{ fb_user.profile_url }}"><img src="http://graph.facebook.com/{{ fb_user.id }}/picture?type=square"/></a></p>
</span>
{% endif %}
{% if user %}
{% blocktrans %}Hi {{ user }}! You are inside. {% endblocktrans %}
{% if not fb_user %}
<span id="logout">
<form method='post'>
<input type='hidden' name='action' value='auth/logout'>
<input type="submit" value='{% trans "get me outside!" %}'>
</form>
</span>
<span id="login_fb"><div class="fb-login-button" data-show-faces="false" data-width="200"></div></span>
{% endif %}
<span id="login_google">
{% if not user.google_user %}
<form method='post' name='google_loginform'><input type='hidden' name='action' value='auth/glogin' /></form>
<a href="#" onclick='forms.google_loginform.submit();'>link Google account</a>
{% else %}{% trans "Google linked to" %} {{ user.google_user }}{% endif %}
</span>
{% else %}
<span id="login_local">
{% trans "You are outside." %}
<form method='post'>
<input type='hidden' name='action' value='auth/login'>
u:&nbsp;<input id="email" name="email" size="10" size="10">&nbsp;
p:&nbsp;<input type="password" id="password" name="password" size="10" maxlength="32">
<input type="submit" value="{% trans 'let me in!' %}">
</form>
</span>
<span id="login_google">
<form method='post' name='google_loginform'><input type='hidden' name='action' value='auth/glogin' /></form>
<a href="#" onclick='forms.google_loginform.submit();'>Google login</a>
</span>
<span id="login_fb"><div class="fb-login-button" data-show-faces="false" data-width="200"></div></span>
{% endif %}
