{% load i18n %}
{% if user %}
<form method='post'>
{% blocktrans %}Hello {{ user }}! Be vagy lépve {% endblocktrans %}
<input type='hidden' name='action' value='auth/logout'>
<input type="submit" value='{% trans "mégis kilépek!" %}'>
</form>
{% else %}
{% trans "Nem igazán vagy belépve." %}
<form method='post'>
<input type='hidden' name='action' value='auth/login'>
<!--u:&nbsp;<input id="username" name="username" size="10" size="10">&nbsp;p:&nbsp;<input type="password" id="password" name="password" size="10" maxlength="32">-->
<input type="submit" value="{% trans 'de én szeretném!' %}">
</form>
<form method='post'>
<input type='hidden' name='action' value='auth/login'>
<!--u:&nbsp;<input id="username" name="username" size="10" size="10">&nbsp;p:&nbsp;<input type="password" id="password" name="password" size="10" maxlength="32">-->
<input type="submit" value="{% trans 'de én szeretném!' %}">
</form>
{% endif %}
<form method='post'><select name='lang' onchange='this.form.submit();'><option>{% trans "nyelv" %}</option><option value='hu'>magyar</option><option value='en'>English</option></select></form>